<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event</title>
</head>
<body>
    <h1>Event</h1>

    {% for event in event_qs %}
        <h2>
             <a href="{{ res.get_absolute_url }}">
             </a>
             <a href="/event/{{ eve.pk }}/">
                {{ eve.name }}
             </a>
        </h2>
            <h4>{{ eve.created_at }}</h4>
            <p>{{ eve.content }}</p>
    {% endfor %}
    <a href= "/event/new/">관리자만 작성</a>
</body>
</html>